Repository PKrystian/FiveNightsEscape, pull requests merged in 2024-01, with the labels that each got.

#19 [Support for maps] feat - Implemented Google Maps to the app
  .gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/res/layout/activity_maps.xml
  app/src/main/res/values/strings.xml
  build.gradle.kts
  local.defaults.properties
Labels: map

#20 7 use of intentions create xml layouts
  app/src/main/java/com/example/fivenightsescape/MainActivity.kt
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/res/layout/activity_maps.xml
  app/src/main/res/layout/menu_layout.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, map, ui

#21 [User's location] Implemented automatic map redirection to the current location of the user + other small improvements
  README.md
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/res/layout/activity_main.xml
Labels: enhancement, map, location

#22 [Tracking the User's progress in avoiding monsters] Add timer, to track user progress
  .idea/.name
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/res/layout/activity_maps.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, ui, progress

#23 Monster base class and controller
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/java/com/example/fivenightsescape/monster/Monster.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterController.kt
  app/src/main/java/com/example/fivenightsescape/player/Player.kt
Labels: enhancement, monster-logic

#24 Monster spawner
  app/src/main/java/com/example/fivenightsescape/MainActivity.kt
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/java/com/example/fivenightsescape/monster/Monster.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterController.kt
Labels: enhancement, map, ui, monster-logic

#28 [Bugfix] Real time user location + small styling fixes
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/java/com/example/fivenightsescape/player/Player.kt
Labels: bug, map

#29 [Tests] Added tests in project
  .github/workflows/code_style_check.yml
  README.md
  app/build.gradle.kts
  app/src/main/java/com/example/fivenightsescape/MainActivity.kt
  app/src/test/java/com/example/fivenightsescape/ExampleUnitTest.kt
  app/src/test/java/com/example/fivenightsescape/MainActivityTest.kt
  app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: cleanliness, tests

#31 [Documentation] Added how-to play description + app icon
  README.md
  app/src/main/ic_launcher-playstore.png
  app/src/main/main_icon.png
  app/src/main/res/layout/menu_layout.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-anydpi/ic_launcher.xml
  app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/ic_launcher_background.xml
  app/src/main/res/values/strings.xml
Labels: documentation, enhancement, ui

#33 color ovveride dodany
  .idea/deploymentTargetDropDown.xml
  .idea/gradle.xml
  .idea/migrations.xml
  app/src/main/res/layout/activity_maps.xml
  app/src/main/res/layout/menu_layout.xml
  app/src/main/res/values/ic_launcher_background.xml
  app/src/main/res/values/styles.xml
Labels: enhancement, ui

#32 16-warning-the-user-of-nearby-monsters-add-notification-if-monster-is-near-player
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterController.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterSpawner.kt
Labels: enhancement, map, ui, monster-logic, notification

#35 [Cleaning] Clean up project
  .idea/gradle.xml
  README.md
  app/src/main/java/com/example/fivenightsescape/MapsActivity.kt
  app/src/main/java/com/example/fivenightsescape/monster/Monster.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterController.kt
  app/src/main/java/com/example/fivenightsescape/monster/MonsterSpawner.kt
Labels: cleanliness
